<div class="container">
	<h1>Contact us</h1>
	<div >
				
	<a ui-sref="about">about</a>
		<a ui-sref="index">Home</a>
		<div >
			<form action="/save" method="POST" >
				<div class="row">
					<div class="col-md-4">
						<div class="row">
					<div class="col-md-12">
						<input type="text" name="name" class="form-control" placeholder="Your name"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					<input type="text" name="email" class="form-control" placeholder="Your email"></input>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12 ">
						<input type="submit" value="Send" class="btn btn-default block pull-left"></input>
					</div>
				</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>