{% extends "layout.html"%}
{% block title %} Index Page | {{super()}} {% endblock %}

{% block content %}
<div >
	<div ng-app="app" class="container-fluid">

	<div  >
			<button ng-click="controllerActions.click()" class="btn btn-info">click</button>
				
					
					
					<div class="page page-about" ui-view>
						<h1> Welcome 	{{saves.get('name','')}}</h1>
						<a ui-sref="contact">contact</a>
					    <a ui-sref="about">about</a>
						
					</div>

		</div>
		
	</div>
	
	
	<script>
		var app=angular.module('app',['ui.router','ngAnimate']);
		
          app.config(function($stateProvider,$urlRouterProvider){
			  
		 $urlRouterProvider.otherwise('/index')
			
			$stateProvider
			.state('contact',{
				url:'/contact',
			    templateUrl:'/static/partials/contact.html',
				controller:'contactController'
				
			}).state('about',{
				url:'/about',
			    templateUrl:'/static/partials/about.html',
				controller:'aboutController'
				
			}).state('index',{
				url:'/'
				
			})
			
		 })
	
	
		
		app.controller('aboutController',function($scope){
			console.log('about')
			$scope.controllerActions={};
			$scope.pageClass='page-about';
		})
		
		app.controller('contactController',function($scope){
			console.log('contact')
			$scope.controllerActions={};
			$scope.pageClass='page-contact';
		})
		
	</script>
</div>
{% endblock %}